.logo {
	font-family: Raleway;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
}

.logo-studio-primary {
	color: $primary-text-color;
	padding: 24px 0;
}
.logo-web {
	color: $accent-color;
}

.logo-studio-secondary {
	color: $primary-bg-color;
}
